/* Styles for Super Simple Slider */

/* Slider position */
.sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
	
}
/* Single slide position */
.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	z-index: -10;
}
.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}
/* Captions */
.caption{
	font-size:3em;
	float:left; padding:3px; position:absolute; top:65%; bottom:35%; left:auto; right:auto;
	color:#fff;
	width: 100%;
	text-align:center;
	font-family: 'Fira Sans', sans-serif;
}

/* Slider Buttons */
.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('../images/arr.png') no-repeat;
}

.sssprev {
	left: 3%;
	background-position: 0 50%;
}

.sssnext {
	right: 3%;
	background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}
/* Responsive caption styles */
@media screen and (max-width: 1360px){
.caption{
	font-size:2em;
	float:left; padding:3px; position:absolute; top:70%; bottom:30%; left:auto; right:auto;
	color:#fff;
	width: 100%;
	text-align:center;
	font-family: 'Fira Sans', sans-serif;
}

}
@media screen and (max-width: 800px){
.caption{
	font-size:1em;
	float:left; padding:3px; position:absolute; top:65%; bottom:35%; left:auto; right:auto;
	color:#fff;
	width: 100%;
	text-align:center;
	font-family: 'Fira Sans', sans-serif;
}
}
@media screen and (max-width: 500px){
.caption{
	font-size:0.75em;
	float:left; padding:3px; position:absolute; top:70%; bottom:30%; left:auto; right:auto;
	color:#fff;
	width: 100%;
	text-align:center;
	font-family: 'Fira Sans', sans-serif;
}
}